.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}
.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  display: flex;
  font-size: 20px;
}

.nav-items > ul > li {
  margin: 10px;
  list-style-type: none;
}

.search {
  padding: 10px;
}
.res-card {
  width: 200px;
  height: 300px;
  padding: 7px;
  /* border: 1px solid black; */
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.res-logo {
  width: 100%;
}
